.header-gradient {
  /* Apply gradient background */
  background: linear-gradient(191.87deg, #003261 30.93%, #0087FF 91.63%);
  
  /* Clip the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent;
}

.grid-1 p {
  top: 133.8rem;
  left: 4.26rem;
  font-size: 2rem;
  line-height: 2.73rem;
  font-weight: 600;
    /* Apply gradient background */
  background: #86868B;
  
  /* Clip the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent;
}

.grid-1 img {
  width: 7.785rem;
  height: 7.91625rem;
}

.grid-2 p {
  width: 14.534rem;
  height: 5.320625rem;
  top: 133.801875rem;
  left: 4.26rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.7275rem;
    /* Apply gradient background */
    /* Apply gradient background */
  background: #86868B;
  
  /* Clip the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent; 
}

.grid-2 img {
  width: 7.785rem;
  height: 7.91625rem;
}

.grid-3 p {
  width: 14.534rem;
  height: 5.320625rem;
  top: 133.801875rem;
  left: 4.26rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7275rem;
    /* Apply gradient background */
    /* Apply gradient background */
  background: #86868B;
  
  /* Clip the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent; 
}

.grid-3 img {
  width: 7.785rem;
  height: 7.91625rem;
}

.grid-4 p {
  width: 14.534rem;
  height: 5.320625rem;
  top: 133.801875rem;
  left: 4.26rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.7275rem;
    /* Apply gradient background */
    /* Apply gradient background */
  background: #86868B;
  
  /* Clip the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent; 
}

.grid-4 img {
  width: 7.785rem;
  height: 7.91625rem;
}

.grid-5 p {
  font-size: 2rem;
  line-height: 2.7275rem;
  font-weight: 600;
    /* Apply gradient background */
    /* Apply gradient background */
  background: #86868B;
  
  /* Clip the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  /* Make the text transparent so gradient shows through */
  color: transparent; 
}

.grid-5 img {
  color:black
}

.grid-6 p {
  top: 133.801875rem;
  left: 4.26rem;
  font-size: 2rem;
  line-height: 2.7275rem;
  font-weight: 600;
    /* Apply gradient background */
    /* Apply gradient background */
  background: #86868B;
  
  /* Clip the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent; 
}

.grid-6 img {
  width: 7.785rem;
  height: 7.91625rem;
}

/* Mobile Grid Item Styling */
.mobile-grid-item {
  background-color: #f3f4f6; /* light gray */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.mobile-grid-item p {
  color: #86868B;
}

/* Specific Image Sizing for Mobile */
.benefit-img {
  width: 3.568125rem;
  height: 3.628125rem;
}

.mobile-grid-item:nth-child(2) .benefit-img {
  width: 3.568125rem;
  height: 3.628125rem;
}


.benefits-bottom-cta .benefits-bottom {
  font-weight: 600;
  color: #86868B;
}

span {
  color: black;
}

.benefits-cta .learn-more {
  width: 20.671875rem;
  font-size: 2.831875rem;
  padding: 0.99125rem 2.12375rem 0.99125rem 2.12375rem;
  border-radius: 9.8375rem;
  @media (max-width: 640px) {
    width: 9.125rem;
    font-size: 1.25rem;
    padding: 0.4375rem 0.9375rem 0.4375rem 0.9375rem;
    border-radius: 4.3425rem;
  }
}

.benefits-cta .book {
  width: 13.02625rem;
  font-size: 2.831875rem;
  padding: 0.99125rem 2.12375rem 0.99125rem 2.12375rem;
  border-radius: 9.8375rem;
    @media (max-width: 640px) {
    width: 5.75rem;
    font-size: 1.25rem;
    padding: 0.4375rem 0.9375rem 0.4375rem 0.9375rem;
    border-radius: 4.3425rem;
  }
}