.optimize h1 {
  background: radial-gradient(105.42% 236.7% at 26.07% 15.41%, #003261 8.37%, #005AAC 45.55%, #0087FF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  background-clip: text;  
  color: transparent;
}

.optimize p {
  background: #86868B;
  
  /* Clip the gradient to the text */
  -webkit-background-clip: text;
  background-clip: text;
  /* Make the text transparent so gradient shows through */
  color: transparent; 
}

.optimize button {
  width: 32.02rem;
  height: 9rem;
  padding: 2.09rem 3.35rem;
  border-radius: 14.54rem;
  font-weight: 600;

  @media (max-width: 640px) {
    width: 9.56rem;
    height: 2.69rem;
    padding: 0.625rem 1rem;
    border-radius: 4.34rem;
  }
}