.tales h1 {
  background: linear-gradient(191.87deg, #003261 29.85%, #00519B 51.66%, #0058A8 80.02%, #0087FF 95.54%);
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent;
}

.tales button {
  width: 44.34rem;
  height: 7.27rem;
  padding: 2.41rem 2.18rem 2.41rem 2.91rem;
  gap: 1.82rem;
  border-radius: 1.64rem;
  background-color: #1E1E1E;

  @media (max-width: 640px) {
    width: 15.71rem;
    height: 2.57rem;
    padding: 0.85rem 0.77rem 0.85rem 1.03rem;
    gap: 0.64rem;
    border-radius: 0.58rem;
  }
}