.moby-women h1 {
  font-weight: 600;
  background: linear-gradient(180.87deg, #003261 50.93%, #FFDEFE 95.63%);
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent;
}

.moby-women p {
  font-weight: 600;
  background: linear-gradient(180.87deg, #003261 89.93%, #FFDEFE 91.63%);
  -webkit-background-clip: text;
  background-clip: text;
  
  /* Make the text transparent so gradient shows through */
  color: transparent;
}

.women-cta .learn-more-women {
  width: 28.945rem;
  font-size: 2.832rem;
  padding: 0.991rem 2.124rem 0.991rem 2.124rem;
  border-radius: 9.8375rem;

  @media (max-width: 640px) {
    width: 14.0275rem;
    font-size: 1.25rem;
    padding: 0.625rem 1.875rem 0.625rem 1.875rem;
    border-radius: 2.493125rem;
  }
}
