.intro-section {
  background-image: url('../../assets/intro-section.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  @media (max-width: 800px) {
    background-image: url('../../assets/pphill.png')
  }
}

.intro-section .desktop {
  color: #86868B;
}

/* Intro Paragraph Container */

/* Paragraph Text */
.intro-paragraph .paragraph {
  color: #86868B;
  line-height: 1.5;
  text-align: left;
}

.intro-paragraph .paragraph span {
  color: black;
}

.button-container button {
  padding: 1.045rem 2.875rem 1.1rem 2.875rem;
  border-radius: 7.37875rem;

  @media (max-width: 800px) {
    padding: 0.615rem 1.6925rem 0.6475rem 1.6925rem;
    border-radius: 4.3425rem;
  }
}